@CHARSET "UTF-8";


/*******************************/
.container{
	
}
.container_left{
	float: left;
	width: 716px;
}
.container_right{
	float: right;
	width: 284px;
}

.container_left .title{
	height: 38px;
	background: url("images/index_item_bg_15x15.png") no-repeat 0px 12px;
	padding-left: 20px;
}
.container_left .title_left{
	line-height: 38px;
}
.container_left .title_right{
	line-height: 38px;
}

.container_left .line1{
	border-bottom: 2px solid #978346;
}
.container_left .line2{
	border-bottom: 2px solid #d48205;
}
.container_left .line3{
	border-bottom: 2px solid #b4b303;
}
.container_left .line4{
	border-bottom: 1px solid #A0A0A0;
}

.kuaican,.canting,.order_tips {
	border: 1px solid #cbccc7;
	width: 690px;
	background-color: white;
	margin: 10px auto 0px auto;
	padding: 0px 12px;
}

/**************/
.kuaican{
	height: 223px;
}

.kuaican .item{
	width: 305px;
	height: 72px;
	/*background-color: #EEEEEE;*/
	margin-top: 12px;
}

.kuaican .item .tupian{
	margin-top: 3px;
    width: 93px;
}
.kuaican .item .dianming {
	margin-bottom: 3px;
}
.kuaican .item .wuxing {
	margin-top: 3px;
}
.kuaican .list .kuaican_item_right {
	margin-left: 73px;
}

.kuaican .item .pic_status_action, .kuaican .item .pic_status_rest {
	height: 20px;
    left: 0;
    position: absolute;
    top: 49px;
    width: 59px;
    z-index: 10;
}
.kuaican .item .pic_status_action {
	background: url("images/index_item_action_59x20.png") no-repeat 0 0;
}
.kuaican .item .pic_status_rest {
	background: url("images/index_item_rest_59x20.png") no-repeat 0 0;
}
/**************/
.canting{
	padding: 0 12px 20px;
}
.canting .item {
	margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 671px;
}
.canting .item_left {
	margin-top: 4px;
}
.canting .item_mid .dianming {
	margin-bottom: 10px;
    margin-top: 7px;
}
.canting .item_mid .note {
	line-height: 18px;
}
.canting .item_mid .note_left {
	width: 151px;
}
.canting .item_right {
	margin-right: 66px;
    margin-top: 13px;
}
.canting .item_right .kancaidan {
	margin-top: 12px;
}
/**************/
.order_tips {
	padding-bottom: 12px;
}
.order_tips .tips_title{
	margin-bottom: 6px;
    margin-left: 10px;
    margin-top: 17px;
}
.order_tips .order_flow {
	background: url("images/index_xiaotieshi_545x64.png") no-repeat 0 0;
	width: 649px;
	height: 64px;
	margin: 0 auto;
}
.order_tips .order_flow .fill_address,.order_tips .order_flow .pick_commodity,.order_tips .order_flow .delivery {
	position: absolute;
	top: 23px;
}
.order_tips .order_flow .fill_address {
	left: 107px;
}
.order_tips .order_flow .pick_commodity {
	left: 358px;
}
.order_tips .order_flow .delivery {
	left: 574px;
}
/**************/
